{
  "openapi": "3.0.0",
  "info": {
    "title": "Craft – Multi-Document API for Public w+",
    "version": "1.0.0",
    "description": "## Overview\nThe Craft Multi-Document API provides programmatic access to multiple Craft documents. Access documents, blocks, collections, and search across your document set with unified authentication.\n\n## Key Concepts\n\n**Document IDs**: Each document is identified by an ID. Use `GET /documents` to discover available documents and their IDs.\n\n**Cross-Document Operations**: Most operations require specifying which document to work with via block IDs. The API automatically resolves which document a block belongs to.\n\n## Recommended Usage\nThis API is ideal for building integrations that need to work with multiple related documents, such as project documentation sets, knowledge bases, or multi-document workflows.\n\n## Development Tips\n- Start with `GET /documents` to discover available documents and their IDs\n- Use the `id` parameter in `GET /blocks` with a document's ID to fetch that document's content\n- When inserting blocks, use `pageId` in the position object to specify the target document/block\n- Use `GET /documents/search` to search across all documents with relevance-based ranking\n- Collections can span multiple documents - use `GET /collections` to discover them\n\n## Note for AI\nWhen implementing functionality using this API, always make actual calls to these endpoints and verify the responses. Do not simulate or mock the API interactions or use hard-coded values on the client-side - use the real endpoints to ensure proper functionality and data handling.\n\n**IMPORTANT: This is a production server connected to real user data.** Only perform testing operations that can be safely rolled back:\n\n- Safe: Reading data (`GET` requests), creating test content that you delete immediately after\n- Safe: Modifying content if you can restore it to its original state\n- Safe: Moving blocks if you can move them back to their original position\n- Unsafe: Permanent deletions, modifications without backup, or any changes you cannot reverse\n\nAlways verify rollback operations work before considering a test complete."
  },
  "servers": [
    {
      "url": "https://connect.craft.do/links/BUj6L069KZE/api/v1",
      "description": "API Server for Multi-Document Connection"
    }
  ],
  "paths": {
    "/documents": {
      "get": {
        "summary": "List Documents",
        "description": "Retrieve all documents accessible through this multi-document connection. Returns document IDs, titles, and deletion status for each document.",
        "tags": ["Documents"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of documents with their metadata",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Documents List Response",
                  "description": "Response containing list of documents with their IDs, titles, and deletion status",
                  "type": "object",
                  "properties": {
                    "items": {
                      "title": "Documents",
                      "description": "Array of documents in this multi-document connection",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Document ID",
                            "description": "The document ID",
                            "type": "string"
                          },
                          "title": {
                            "title": "Title",
                            "description": "The title of the document",
                            "type": "string"
                          },
                          "isDeleted": {
                            "title": "Is Deleted",
                            "description": "Whether the document or its root block is deleted/missing",
                            "type": "boolean"
                          }
                        },
                        "required": ["id", "title", "isDeleted"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["items"],
                  "additionalProperties": false
                },
                "examples": {
                  "documentsList": {
                    "summary": "List of documents with mixed deletion status",
                    "value": {
                      "items": [
                        {
                          "id": "doc-123",
                          "title": "Project Plan",
                          "isDeleted": false
                        },
                        {
                          "id": "doc-456",
                          "title": "Meeting Notes",
                          "isDeleted": false
                        },
                        {
                          "id": "doc-789",
                          "title": "[Deleted Document]",
                          "isDeleted": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/blocks": {
      "get": {
        "summary": "Fetch Blocks",
        "description": "Fetches content from documents in this multi-document connection. Use 'id' query parameter to specify which block to fetch.\n\nUse `Accept` header `application/json` for structured data, `text/markdown` for rendered content.\n\n**Content Rendering:** Text blocks contain markdown formatting and markdown formatted output may include structural tags like `<page></page>`, etc. When displaying content, consider rendering markdown as formatted text or cleaning up the syntax for plain text display.\n\n**Scope Filtering:** Block links in markdown and collections, as well as relations are filtered to documents scope. Block links and date links are returned as `block://` and `date://` URLs.\n\n**Tip:** Start by calling GET /documents to list available documents, then use their documentId values as the 'id' parameter to fetch each document's root content.",
        "tags": ["Blocks"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "title": "Block ID",
              "description": "The ID of the page block to fetch. Required for multi-document operations. Accepts IDs for documents, pages and blocks.",
              "example": "1",
              "type": "string"
            },
            "required": true,
            "description": "The ID of the page block to fetch. Required for multi-document operations. Accepts IDs for documents, pages and blocks."
          },
          {
            "in": "query",
            "name": "maxDepth",
            "schema": {
              "title": "Max Depth",
              "description": "The maximum depth of blocks to fetch. Default is -1 (all descendants). With a depth of 0, only the specified block is fetched. With a depth of 1, only direct children are returned.",
              "example": -1,
              "default": -1,
              "type": "number"
            },
            "description": "The maximum depth of blocks to fetch. Default is -1 (all descendants). With a depth of 0, only the specified block is fetched. With a depth of 1, only direct children are returned."
          },
          {
            "in": "query",
            "name": "fetchMetadata",
            "schema": {
              "title": "Fetch Metadata",
              "description": "Whether to fetch metadata (comments, createdBy, lastModifiedBy, lastModifiedAt, createdAt) for the blocks. Default is false.",
              "example": false,
              "type": "boolean"
            },
            "description": "Whether to fetch metadata (comments, createdBy, lastModifiedBy, lastModifiedAt, createdAt) for the blocks. Default is false."
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched block with nested children",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Block",
                  "description": "Single block object with its nested children",
                  "anyOf": [
                    {
                      "title": "Text Block",
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "enum": ["text"]
                        },
                        "id": { "title": "Block ID", "type": "string" },
                        "textStyle": {
                          "description": "h1-h4, body, caption styles apply to text blocks, card and page styles are visual styles for page blocks. Edge cases: a block with 'page' (or 'card') textStyle is always a page block, even if empty, however a page block can exist with 'body' textStyle which will be rendered as normal paragraph (but will otherwise act as a page inside Craft).",
                          "title": "Text Style",
                          "type": "string",
                          "enum": [
                            "card",
                            "page",
                            "h1",
                            "h2",
                            "h3",
                            "h4",
                            "caption",
                            "body"
                          ]
                        },
                        "textAlignment": {
                          "description": "default is left",
                          "title": "Text Alignment",
                          "type": "string",
                          "enum": ["left", "center", "right", "justify"]
                        },
                        "font": {
                          "title": "Font",
                          "type": "string",
                          "enum": ["system", "serif", "rounded", "mono"]
                        },
                        "cardLayout": {
                          "description": "Applies for 'card' textStyle. Small and square are for laying out in multi-column (2 or 3 depending on screen size, multi-column is only supported for certain block types, not for text). Regular and large are full width cards.",
                          "title": "Card Layout",
                          "type": "string",
                          "enum": ["small", "square", "regular", "large"]
                        },
                        "markdown": {
                          "title": "Markdown",
                          "description": "The markdown content of the block.",
                          "type": "string"
                        },
                        "indentationLevel": {
                          "title": "Indentation Level",
                          "description": "The indentation level of the block.",
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 5
                        },
                        "listStyle": {
                          "title": "List Style",
                          "type": "string",
                          "enum": [
                            "none",
                            "bullet",
                            "numbered",
                            "toggle",
                            "task"
                          ]
                        },
                        "decorations": {
                          "title": "Decorations",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["callout", "quote"]
                          }
                        },
                        "color": {
                          "title": "Color",
                          "description": "7-character hex code (e.g., #RRGGBB). Case-insensitive. Auto-adjusted for readability, with dark variant auto-generated.",
                          "type": "string",
                          "pattern": "^#[0-9a-fA-F]{6}$"
                        },
                        "taskInfo": {
                          "description": "only interpreted, if listStyle is 'task'",
                          "title": "Task Info",
                          "type": "object",
                          "properties": {
                            "state": {
                              "default": "todo",
                              "title": "Task State",
                              "type": "string",
                              "enum": ["todo", "done", "canceled"]
                            },
                            "scheduleDate": {
                              "title": "Schedule Date",
                              "description": "Planned execution date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "deadlineDate": {
                              "title": "Deadline Date",
                              "description": "Due date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "completedAt": {
                              "title": "Completed At",
                              "description": "UTC timestamp when the task was marked as done. Only present when state is 'done'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "canceledAt": {
                              "title": "Canceled At",
                              "description": "UTC timestamp when the task was canceled. Only present when state is 'canceled'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "repeat": {
                              "title": "Repeat Configuration",
                              "description": "Configuration for repeating tasks. When a repeating task is completed, it automatically resets to 'todo' with the next scheduled date. Set to null to remove repeat configuration.",
                              "nullable": true,
                              "type": "object",
                              "properties": {
                                "type": {
                                  "description": "'flexible' schedules relative to completion date, 'fixed' schedules on specific dates",
                                  "type": "string",
                                  "enum": ["flexible", "fixed"]
                                },
                                "frequency": {
                                  "description": "How often the task repeats",
                                  "type": "string",
                                  "enum": [
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "yearly"
                                  ]
                                },
                                "interval": {
                                  "description": "Repeat every N units (e.g., every 2 weeks). Defaults to 1.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991
                                },
                                "startDate": {
                                  "description": "Start date for the repeat schedule. ISO format YYYY-MM-DD.",
                                  "type": "string",
                                  "format": "date"
                                },
                                "daily": {
                                  "description": "Daily repeat options. Only used when frequency is 'daily'.",
                                  "type": "object",
                                  "properties": {
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "weekly": {
                                  "description": "Weekly repeat options. Only used when frequency is 'weekly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "monday",
                                          "tuesday",
                                          "wednesday",
                                          "thursday",
                                          "friday",
                                          "saturday",
                                          "sunday"
                                        ]
                                      }
                                    }
                                  },
                                  "required": ["days"],
                                  "additionalProperties": false
                                },
                                "monthly": {
                                  "description": "Monthly repeat options. Only used when frequency is 'monthly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    },
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "yearly": {
                                  "description": "Yearly repeat options. Only used when frequency is 'yearly'.",
                                  "type": "object",
                                  "properties": {
                                    "months": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 12
                                      }
                                    },
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "required": ["months"],
                                  "additionalProperties": false
                                },
                                "reminder": {
                                  "description": "Reminder configuration for the repeating task",
                                  "type": "object",
                                  "properties": {
                                    "enabled": { "type": "boolean" },
                                    "dateOffset": {
                                      "description": "Offset in minutes from midnight of the task's schedule date (e.g., 540 = 09:00)",
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": ["enabled"],
                                  "additionalProperties": false
                                }
                              },
                              "required": ["type", "frequency"],
                              "additionalProperties": false
                            }
                          },
                          "required": ["state"],
                          "additionalProperties": false
                        },
                        "metadata": {
                          "title": "Block Metadata",
                          "type": "object",
                          "properties": {
                            "lastModifiedAt": {
                              "title": "Last Modified At",
                              "description": "The date and time the block was last modified.",
                              "type": "string",
                              "format": "date"
                            },
                            "createdAt": {
                              "title": "Created At",
                              "description": "The date and time the block was created.",
                              "type": "string",
                              "format": "date"
                            },
                            "lastModifiedBy": {
                              "title": "Last Modified By",
                              "description": "The user who last modified the block.",
                              "type": "string"
                            },
                            "createdBy": {
                              "title": "Created By",
                              "description": "The user who created the block.",
                              "type": "string"
                            },
                            "comments": {
                              "title": "Comments",
                              "description": "The comments on the block.",
                              "type": "array",
                              "items": {
                                "title": "Comment",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "title": "ID",
                                    "description": "The ID of the comment.",
                                    "type": "string"
                                  },
                                  "author": {
                                    "title": "Author",
                                    "description": "The author of the comment.",
                                    "type": "string"
                                  },
                                  "content": {
                                    "title": "Content",
                                    "description": "The content of the comment.",
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "title": "Created At",
                                    "description": "The date and time the comment was created.",
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "content",
                                  "createdAt"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "lastModifiedAt",
                            "createdAt",
                            "lastModifiedBy",
                            "createdBy"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": ["type", "id", "markdown"],
                      "additionalProperties": false
                    },
                    {
                      "title": "Page Block",
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "enum": ["page"]
                        },
                        "id": { "title": "Block ID", "type": "string" },
                        "title": {
                          "type": "object",
                          "properties": {
                            "value": { "type": "string" },
                            "attributes": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["link"]
                                          },
                                          "url": {
                                            "type": "string",
                                            "format": "uri"
                                          }
                                        },
                                        "required": ["type", "url"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["blockLink"]
                                          },
                                          "blockId": {
                                            "title": "Block ID",
                                            "description": "Short ID of the linked block (or 'out_of_scope' if the target is outside the document)",
                                            "type": "string"
                                          }
                                        },
                                        "required": ["type", "blockId"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["bold"]
                                          }
                                        },
                                        "required": ["type"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["italic"]
                                          }
                                        },
                                        "required": ["type"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["strikethrough"]
                                          }
                                        },
                                        "required": ["type"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["code"]
                                          }
                                        },
                                        "required": ["type"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["highlight"]
                                          },
                                          "color": {
                                            "type": "string",
                                            "enum": [
                                              "yellow",
                                              "green",
                                              "mint",
                                              "cyan",
                                              "blue",
                                              "purple",
                                              "pink",
                                              "red",
                                              "gray",
                                              "gradient-blue",
                                              "gradient-purple",
                                              "gradient-red",
                                              "gradient-yellow",
                                              "gradient-brown"
                                            ]
                                          }
                                        },
                                        "required": ["type", "color"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["dateLink"]
                                          },
                                          "date": {
                                            "title": "Date",
                                            "description": "The date this badge links to. ISO format YYYY-MM-DD",
                                            "type": "string",
                                            "format": "date"
                                          }
                                        },
                                        "required": ["type", "date"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["userLink"]
                                          },
                                          "userId": { "type": "string" }
                                        },
                                        "required": ["type", "userId"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["formula"]
                                          }
                                        },
                                        "required": ["type"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["commentMarker"]
                                          },
                                          "markerId": { "type": "string" }
                                        },
                                        "required": ["type", "markerId"],
                                        "additionalProperties": false
                                      }
                                    ],
                                    "type": "object"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "start": { "type": "number" },
                                      "end": { "type": "number" }
                                    },
                                    "required": ["start", "end"],
                                    "additionalProperties": false
                                  }
                                ]
                              }
                            }
                          },
                          "required": ["value", "attributes"],
                          "additionalProperties": false
                        },
                        "markdown": {
                          "title": "Markdown",
                          "description": "The title of the page block.",
                          "type": "string"
                        },
                        "indentationLevel": {
                          "title": "Indentation Level",
                          "description": "The indentation level of the block.",
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 5
                        },
                        "listStyle": {
                          "title": "List Style",
                          "type": "string",
                          "enum": [
                            "none",
                            "bullet",
                            "numbered",
                            "toggle",
                            "task"
                          ]
                        },
                        "decorations": {
                          "title": "Decorations",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["callout", "quote"]
                          }
                        },
                        "color": {
                          "title": "Color",
                          "description": "7-character hex code (e.g., #RRGGBB). Case-insensitive. Auto-adjusted for readability, with dark variant auto-generated.",
                          "type": "string",
                          "pattern": "^#[0-9a-fA-F]{6}$"
                        },
                        "taskInfo": {
                          "description": "only interpreted, if listStyle is 'task'",
                          "title": "Task Info",
                          "type": "object",
                          "properties": {
                            "state": {
                              "default": "todo",
                              "title": "Task State",
                              "type": "string",
                              "enum": ["todo", "done", "canceled"]
                            },
                            "scheduleDate": {
                              "title": "Schedule Date",
                              "description": "Planned execution date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "deadlineDate": {
                              "title": "Deadline Date",
                              "description": "Due date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "completedAt": {
                              "title": "Completed At",
                              "description": "UTC timestamp when the task was marked as done. Only present when state is 'done'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "canceledAt": {
                              "title": "Canceled At",
                              "description": "UTC timestamp when the task was canceled. Only present when state is 'canceled'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "repeat": {
                              "title": "Repeat Configuration",
                              "description": "Configuration for repeating tasks. When a repeating task is completed, it automatically resets to 'todo' with the next scheduled date. Set to null to remove repeat configuration.",
                              "nullable": true,
                              "type": "object",
                              "properties": {
                                "type": {
                                  "description": "'flexible' schedules relative to completion date, 'fixed' schedules on specific dates",
                                  "type": "string",
                                  "enum": ["flexible", "fixed"]
                                },
                                "frequency": {
                                  "description": "How often the task repeats",
                                  "type": "string",
                                  "enum": [
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "yearly"
                                  ]
                                },
                                "interval": {
                                  "description": "Repeat every N units (e.g., every 2 weeks). Defaults to 1.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991
                                },
                                "startDate": {
                                  "description": "Start date for the repeat schedule. ISO format YYYY-MM-DD.",
                                  "type": "string",
                                  "format": "date"
                                },
                                "daily": {
                                  "description": "Daily repeat options. Only used when frequency is 'daily'.",
                                  "type": "object",
                                  "properties": {
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "weekly": {
                                  "description": "Weekly repeat options. Only used when frequency is 'weekly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "monday",
                                          "tuesday",
                                          "wednesday",
                                          "thursday",
                                          "friday",
                                          "saturday",
                                          "sunday"
                                        ]
                                      }
                                    }
                                  },
                                  "required": ["days"],
                                  "additionalProperties": false
                                },
                                "monthly": {
                                  "description": "Monthly repeat options. Only used when frequency is 'monthly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    },
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "yearly": {
                                  "description": "Yearly repeat options. Only used when frequency is 'yearly'.",
                                  "type": "object",
                                  "properties": {
                                    "months": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 12
                                      }
                                    },
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "required": ["months"],
                                  "additionalProperties": false
                                },
                                "reminder": {
                                  "description": "Reminder configuration for the repeating task",
                                  "type": "object",
                                  "properties": {
                                    "enabled": { "type": "boolean" },
                                    "dateOffset": {
                                      "description": "Offset in minutes from midnight of the task's schedule date (e.g., 540 = 09:00)",
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": ["enabled"],
                                  "additionalProperties": false
                                }
                              },
                              "required": ["type", "frequency"],
                              "additionalProperties": false
                            }
                          },
                          "required": ["state"],
                          "additionalProperties": false
                        },
                        "metadata": {
                          "title": "Block Metadata",
                          "type": "object",
                          "properties": {
                            "lastModifiedAt": {
                              "title": "Last Modified At",
                              "description": "The date and time the block was last modified.",
                              "type": "string",
                              "format": "date"
                            },
                            "createdAt": {
                              "title": "Created At",
                              "description": "The date and time the block was created.",
                              "type": "string",
                              "format": "date"
                            },
                            "lastModifiedBy": {
                              "title": "Last Modified By",
                              "description": "The user who last modified the block.",
                              "type": "string"
                            },
                            "createdBy": {
                              "title": "Created By",
                              "description": "The user who created the block.",
                              "type": "string"
                            },
                            "comments": {
                              "title": "Comments",
                              "description": "The comments on the block.",
                              "type": "array",
                              "items": {
                                "title": "Comment",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "title": "ID",
                                    "description": "The ID of the comment.",
                                    "type": "string"
                                  },
                                  "author": {
                                    "title": "Author",
                                    "description": "The author of the comment.",
                                    "type": "string"
                                  },
                                  "content": {
                                    "title": "Content",
                                    "description": "The content of the comment.",
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "title": "Created At",
                                    "description": "The date and time the comment was created.",
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "content",
                                  "createdAt"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "lastModifiedAt",
                            "createdAt",
                            "lastModifiedBy",
                            "createdBy"
                          ],
                          "additionalProperties": false
                        },
                        "textStyle": {
                          "description": "h1-h4, body, caption styles apply to text blocks, card and page styles are visual styles for page blocks. Edge cases: a block with 'page' (or 'card') textStyle is always a page block, even if empty, however a page block can exist with 'body' textStyle which will be rendered as normal paragraph (but will otherwise act as a page inside Craft).",
                          "title": "Text Style",
                          "type": "string",
                          "enum": [
                            "card",
                            "page",
                            "h1",
                            "h2",
                            "h3",
                            "h4",
                            "caption",
                            "body"
                          ]
                        },
                        "textAlignment": {
                          "description": "default is left",
                          "title": "Text Alignment",
                          "type": "string",
                          "enum": ["left", "center", "right", "justify"]
                        },
                        "font": {
                          "title": "Font",
                          "type": "string",
                          "enum": ["system", "serif", "rounded", "mono"]
                        },
                        "cardLayout": {
                          "description": "Applies for 'card' textStyle. Small and square are for laying out in multi-column (2 or 3 depending on screen size, multi-column is only supported for certain block types, not for text). Regular and large are full width cards.",
                          "title": "Card Layout",
                          "type": "string",
                          "enum": ["small", "square", "regular", "large"]
                        },
                        "content": {
                          "description": "Content of the page block. Array of blocks. Follows the same block schema.",
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "title",
                        "markdown",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "title": "Collection Item Block",
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "enum": ["collectionItem"]
                        },
                        "id": { "title": "Block ID", "type": "string" },
                        "title": {
                          "title": "Title",
                          "description": "The title of the block.",
                          "type": "string"
                        },
                        "properties": {
                          "title": "Properties",
                          "description": "The properties of the block.",
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "markdown": {
                          "title": "Markdown",
                          "description": "The title of the collection item",
                          "type": "string"
                        },
                        "metadata": {
                          "title": "Block Metadata",
                          "type": "object",
                          "properties": {
                            "lastModifiedAt": {
                              "title": "Last Modified At",
                              "description": "The date and time the block was last modified.",
                              "type": "string",
                              "format": "date"
                            },
                            "createdAt": {
                              "title": "Created At",
                              "description": "The date and time the block was created.",
                              "type": "string",
                              "format": "date"
                            },
                            "lastModifiedBy": {
                              "title": "Last Modified By",
                              "description": "The user who last modified the block.",
                              "type": "string"
                            },
                            "createdBy": {
                              "title": "Created By",
                              "description": "The user who created the block.",
                              "type": "string"
                            },
                            "comments": {
                              "title": "Comments",
                              "description": "The comments on the block.",
                              "type": "array",
                              "items": {
                                "title": "Comment",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "title": "ID",
                                    "description": "The ID of the comment.",
                                    "type": "string"
                                  },
                                  "author": {
                                    "title": "Author",
                                    "description": "The author of the comment.",
                                    "type": "string"
                                  },
                                  "content": {
                                    "title": "Content",
                                    "description": "The content of the comment.",
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "title": "Created At",
                                    "description": "The date and time the comment was created.",
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "content",
                                  "createdAt"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "lastModifiedAt",
                            "createdAt",
                            "lastModifiedBy",
                            "createdBy"
                          ],
                          "additionalProperties": false
                        },
                        "content": {
                          "description": "Content of the collection item block's page. Array of blocks. Follows the same block schema.",
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "title",
                        "properties",
                        "markdown",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "title": "Image Block",
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "enum": ["image"]
                        },
                        "id": { "title": "Block ID", "type": "string" },
                        "url": { "title": "URL", "type": "string" },
                        "altText": { "title": "Alt Text", "type": "string" },
                        "size": {
                          "title": "Media Size",
                          "type": "string",
                          "enum": ["fit", "fill"]
                        },
                        "width": {
                          "title": "Media Layout",
                          "type": "string",
                          "enum": ["auto", "fullWidth"]
                        },
                        "uploaded": { "type": "boolean" },
                        "markdown": {
                          "title": "Markdown",
                          "description": "The markdown content of the block.",
                          "type": "string"
                        },
                        "indentationLevel": {
                          "title": "Indentation Level",
                          "description": "The indentation level of the block.",
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 5
                        },
                        "listStyle": {
                          "title": "List Style",
                          "type": "string",
                          "enum": [
                            "none",
                            "bullet",
                            "numbered",
                            "toggle",
                            "task"
                          ]
                        },
                        "decorations": {
                          "title": "Decorations",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["callout", "quote"]
                          }
                        },
                        "color": {
                          "title": "Color",
                          "description": "7-character hex code (e.g., #RRGGBB). Case-insensitive. Auto-adjusted for readability, with dark variant auto-generated.",
                          "type": "string",
                          "pattern": "^#[0-9a-fA-F]{6}$"
                        },
                        "taskInfo": {
                          "description": "only interpreted, if listStyle is 'task'",
                          "title": "Task Info",
                          "type": "object",
                          "properties": {
                            "state": {
                              "default": "todo",
                              "title": "Task State",
                              "type": "string",
                              "enum": ["todo", "done", "canceled"]
                            },
                            "scheduleDate": {
                              "title": "Schedule Date",
                              "description": "Planned execution date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "deadlineDate": {
                              "title": "Deadline Date",
                              "description": "Due date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "completedAt": {
                              "title": "Completed At",
                              "description": "UTC timestamp when the task was marked as done. Only present when state is 'done'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "canceledAt": {
                              "title": "Canceled At",
                              "description": "UTC timestamp when the task was canceled. Only present when state is 'canceled'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "repeat": {
                              "title": "Repeat Configuration",
                              "description": "Configuration for repeating tasks. When a repeating task is completed, it automatically resets to 'todo' with the next scheduled date. Set to null to remove repeat configuration.",
                              "nullable": true,
                              "type": "object",
                              "properties": {
                                "type": {
                                  "description": "'flexible' schedules relative to completion date, 'fixed' schedules on specific dates",
                                  "type": "string",
                                  "enum": ["flexible", "fixed"]
                                },
                                "frequency": {
                                  "description": "How often the task repeats",
                                  "type": "string",
                                  "enum": [
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "yearly"
                                  ]
                                },
                                "interval": {
                                  "description": "Repeat every N units (e.g., every 2 weeks). Defaults to 1.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991
                                },
                                "startDate": {
                                  "description": "Start date for the repeat schedule. ISO format YYYY-MM-DD.",
                                  "type": "string",
                                  "format": "date"
                                },
                                "daily": {
                                  "description": "Daily repeat options. Only used when frequency is 'daily'.",
                                  "type": "object",
                                  "properties": {
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "weekly": {
                                  "description": "Weekly repeat options. Only used when frequency is 'weekly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "monday",
                                          "tuesday",
                                          "wednesday",
                                          "thursday",
                                          "friday",
                                          "saturday",
                                          "sunday"
                                        ]
                                      }
                                    }
                                  },
                                  "required": ["days"],
                                  "additionalProperties": false
                                },
                                "monthly": {
                                  "description": "Monthly repeat options. Only used when frequency is 'monthly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    },
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "yearly": {
                                  "description": "Yearly repeat options. Only used when frequency is 'yearly'.",
                                  "type": "object",
                                  "properties": {
                                    "months": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 12
                                      }
                                    },
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "required": ["months"],
                                  "additionalProperties": false
                                },
                                "reminder": {
                                  "description": "Reminder configuration for the repeating task",
                                  "type": "object",
                                  "properties": {
                                    "enabled": { "type": "boolean" },
                                    "dateOffset": {
                                      "description": "Offset in minutes from midnight of the task's schedule date (e.g., 540 = 09:00)",
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": ["enabled"],
                                  "additionalProperties": false
                                }
                              },
                              "required": ["type", "frequency"],
                              "additionalProperties": false
                            }
                          },
                          "required": ["state"],
                          "additionalProperties": false
                        },
                        "metadata": {
                          "title": "Block Metadata",
                          "type": "object",
                          "properties": {
                            "lastModifiedAt": {
                              "title": "Last Modified At",
                              "description": "The date and time the block was last modified.",
                              "type": "string",
                              "format": "date"
                            },
                            "createdAt": {
                              "title": "Created At",
                              "description": "The date and time the block was created.",
                              "type": "string",
                              "format": "date"
                            },
                            "lastModifiedBy": {
                              "title": "Last Modified By",
                              "description": "The user who last modified the block.",
                              "type": "string"
                            },
                            "createdBy": {
                              "title": "Created By",
                              "description": "The user who created the block.",
                              "type": "string"
                            },
                            "comments": {
                              "title": "Comments",
                              "description": "The comments on the block.",
                              "type": "array",
                              "items": {
                                "title": "Comment",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "title": "ID",
                                    "description": "The ID of the comment.",
                                    "type": "string"
                                  },
                                  "author": {
                                    "title": "Author",
                                    "description": "The author of the comment.",
                                    "type": "string"
                                  },
                                  "content": {
                                    "title": "Content",
                                    "description": "The content of the comment.",
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "title": "Created At",
                                    "description": "The date and time the comment was created.",
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "content",
                                  "createdAt"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "lastModifiedAt",
                            "createdAt",
                            "lastModifiedBy",
                            "createdBy"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": ["type", "id", "url", "markdown"],
                      "additionalProperties": false
                    },
                    {
                      "title": "Video Block",
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "enum": ["video"]
                        },
                        "id": { "title": "Block ID", "type": "string" },
                        "url": { "title": "URL", "type": "string" },
                        "altText": { "title": "Alt Text", "type": "string" },
                        "size": {
                          "title": "Media Size",
                          "type": "string",
                          "enum": ["fit", "fill"]
                        },
                        "width": {
                          "title": "Media Layout",
                          "type": "string",
                          "enum": ["auto", "fullWidth"]
                        },
                        "uploaded": { "type": "boolean" },
                        "markdown": {
                          "title": "Markdown",
                          "description": "The markdown content of the block.",
                          "type": "string"
                        },
                        "indentationLevel": {
                          "title": "Indentation Level",
                          "description": "The indentation level of the block.",
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 5
                        },
                        "listStyle": {
                          "title": "List Style",
                          "type": "string",
                          "enum": [
                            "none",
                            "bullet",
                            "numbered",
                            "toggle",
                            "task"
                          ]
                        },
                        "decorations": {
                          "title": "Decorations",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["callout", "quote"]
                          }
                        },
                        "color": {
                          "title": "Color",
                          "description": "7-character hex code (e.g., #RRGGBB). Case-insensitive. Auto-adjusted for readability, with dark variant auto-generated.",
                          "type": "string",
                          "pattern": "^#[0-9a-fA-F]{6}$"
                        },
                        "taskInfo": {
                          "description": "only interpreted, if listStyle is 'task'",
                          "title": "Task Info",
                          "type": "object",
                          "properties": {
                            "state": {
                              "default": "todo",
                              "title": "Task State",
                              "type": "string",
                              "enum": ["todo", "done", "canceled"]
                            },
                            "scheduleDate": {
                              "title": "Schedule Date",
                              "description": "Planned execution date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "deadlineDate": {
                              "title": "Deadline Date",
                              "description": "Due date of the task. ISO format YYYY-MM-DD",
                              "type": "string",
                              "format": "date"
                            },
                            "completedAt": {
                              "title": "Completed At",
                              "description": "UTC timestamp when the task was marked as done. Only present when state is 'done'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "canceledAt": {
                              "title": "Canceled At",
                              "description": "UTC timestamp when the task was canceled. Only present when state is 'canceled'. Read-only.",
                              "readOnly": true,
                              "type": "string",
                              "format": "date-time"
                            },
                            "repeat": {
                              "title": "Repeat Configuration",
                              "description": "Configuration for repeating tasks. When a repeating task is completed, it automatically resets to 'todo' with the next scheduled date. Set to null to remove repeat configuration.",
                              "nullable": true,
                              "type": "object",
                              "properties": {
                                "type": {
                                  "description": "'flexible' schedules relative to completion date, 'fixed' schedules on specific dates",
                                  "type": "string",
                                  "enum": ["flexible", "fixed"]
                                },
                                "frequency": {
                                  "description": "How often the task repeats",
                                  "type": "string",
                                  "enum": [
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "yearly"
                                  ]
                                },
                                "interval": {
                                  "description": "Repeat every N units (e.g., every 2 weeks). Defaults to 1.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991
                                },
                                "startDate": {
                                  "description": "Start date for the repeat schedule. ISO format YYYY-MM-DD.",
                                  "type": "string",
                                  "format": "date"
                                },
                                "daily": {
                                  "description": "Daily repeat options. Only used when frequency is 'daily'.",
                                  "type": "object",
                                  "properties": {
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "weekly": {
                                  "description": "Weekly repeat options. Only used when frequency is 'weekly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "monday",
                                          "tuesday",
                                          "wednesday",
                                          "thursday",
                                          "friday",
                                          "saturday",
                                          "sunday"
                                        ]
                                      }
                                    }
                                  },
                                  "required": ["days"],
                                  "additionalProperties": false
                                },
                                "monthly": {
                                  "description": "Monthly repeat options. Only used when frequency is 'monthly'.",
                                  "type": "object",
                                  "properties": {
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    },
                                    "skipWeekends": { "type": "boolean" }
                                  },
                                  "additionalProperties": false
                                },
                                "yearly": {
                                  "description": "Yearly repeat options. Only used when frequency is 'yearly'.",
                                  "type": "object",
                                  "properties": {
                                    "months": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 12
                                      }
                                    },
                                    "days": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 31
                                      }
                                    },
                                    "dynamicDays": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "selector": {
                                            "type": "string",
                                            "enum": ["first", "last"]
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": ["day"]
                                          }
                                        },
                                        "required": ["selector", "type"],
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "required": ["months"],
                                  "additionalProperties": false
                                },
                                "reminder": {
                                  "description": "Reminder configuration for the repeating task",
                                  "type": "object",
                                  "properties": {
                                    "enabled": { "type": "boolean" },
                                    "dateOffset": {
                                      "description": "Offset in minutes from midnight of the task's schedule date (e.g., 540 = 09:00)",
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": ["enabled"],
                                  "additionalProperties": false
                                }
                              },
                              "required": ["type", "frequency"],
                              "additionalProperties": false
                            }
                          },
                          "required": ["state"],
                          "additionalProperties": false
                        },
                        "metadata": {
                          "title": "Block Metadata",
                          "type": "object",
                          "properties": {
                            "lastModifiedAt": {
                              "title": "Last Modified At",
                              "description": "The date and time the block was last modified.",
                              "type": "string",
                              "format": "date"
                            },
                            "createdAt": {
                              "title": "Created At",
                              "description": "The date and time the block was created.",
                              "type": "string",
                              "format": "date"
                            },
                            "lastModifiedBy": {
                              "title": "Last Modified By",
                              "description": "The user who last modified the block.",
                              "type": "string"
                            },
                            "createdBy": {
                              "title": "Created By",
                              "description": "The user who created the block.",
                              "type": "string"
                            },
                            "comments": {
                              "title": "Comments",
                              "description": "The comments on the block.",
                              "type": "array",
                              "items": {
                                "title": "Comment",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "title": "ID",
                                    "description": "The ID of the comment.",
                                    "type": "string"
                                  },
                                  "author": {
                                    "title": "Author",
                                    "description": "The author of the comment.",
                                    "type": "string"
                                  },
                                  "content": {
                                    "title": "Content",
                                    "description": "The content of the comment.",
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "title": "Created At",
                                    "description": "The date and time the comment was created.",
                                    "type": "string",
                                    "format": "date"
                                  }
                                },
                                "required": [
                                  "id",
                                  "author",
                                  "content",
                                  "createdAt"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "lastModifiedAt",
                            "createdAt",
                            "lastModifiedBy",
                            "createdBy"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": ["type", "id", "url", "markdown"],
                      "additionalProperties": false
                    },
                    {
                      "title": "File Block",
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "enum": ["file"]
                        },
                        "id": { "title": "Block ID", "type": "string" },
                        "url": { "title": "URL", "type": "string" },
                        "fileName": {
                          "title": "File Name",
                          "description": "The name of the file.",
                          "type": "string"
                        },
                        "blockLayout": {
                          "title": "Layout",
                          "type": "string",
                          "enum": ["small", "regular", "card"]
                        },
                        "uploaded": { "type": "boolean" },
                        "mimeType": { "type": "string" },
                        "fileSize": { "type": "number" },
                        "markdown": {
                          "title": "Markdown",
                          "description": "The markdown content of the block.",
                          "type": "string"
                        },
                        "indentationLevel": {
                          "title": "Indentation Level",
                          "description": "The indentation level of the block.",
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 5
                        },
                        "listStyle": {
                          "title": "List Style",
                          "type": "string",
                          "enum": [
                            "none",
                            "bullet",
                            "numbered",
                            "toggle",
                            "task"
                          ]
                        },
                        "decorations": {
                          "title": "Decorations",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["callout", "quote"]
                          }
                        },
                        "color": {
                          "title": "Color",
                          "description": "7-character hex code (e.g., #RRGGBB). Case-insensitive. Auto-adjusted for readability, with dark variant auto-generated.",
[...]
